@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    background: rgb(255 249 232);
    height: 100vh;
    width: 100vw;
}

.book {
    width: 490px;
    height: 620px;
}